
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Piedra);

 html, body { margin: 0; padding: 0; }
html{

}

h3{
		font-family: 'Waiting for the Sunrise', sans-serif;
		color:#c06140;
		text-transform:uppercase;
		font-weight:bold;
}
header{
	background-image:url("banner.png");
	background-size:760px 245px;
	height:245px;
	background-repeat:no-repeat;
	border: 10px solid #87CEEB;
	color:#c06140;
	background-color:#e3ccac;
}
.sidebar{
	font-family: sans-serif;
}
header > h1{
		font-family: 'Waiting for the Sunrise', sans-serif;
		text-transform:uppercase;
		font-size: 45px;
		margin: 30px;
		margin-left: 40px;
		position: relative;
		top: 30px;
		font-weight:bold;
	}
header > h2{
		font-family: 'Waiting for the Sunrise', sans-serif;
		position: relative;
	top: 20px;
	text-transform:lowercase;
	margin-left:40px;
	font-weight:bold;
}
a{
	text-decoration:underline;
	color:#c06140;
}
a:hover{
	text-decoration:none;
	color:#c06140;	
}
p{
font-family: sans-serif;
color: #c06140;
font-size: 18px;
line-height: 20px;
}

.page-wrapper{
	z-index:3;
	width:760px;
	padding:40px 20px 20px 20px;
	margin: 0 auto;
}
.preamble > h3, .explanation > h3, .participation > h3, .benefits > h3{
}

footer, .summary, .preamble, .explanation, .participation, .benefits, .requirements, .sidebar{
	border:10px solid #87CEEB;
	position:relative;
	background-color:#e3ccac;
	padding:0 20px 20px 20px;
	margin-top:20px;
	font-weight:400;
}
 .preamble, .explanation, .participation, .benefits{
 	width:400px;
 }
/* .requirements{
 	top:-210px;
 }*/
.sidebar{
/*	position:static;
	  transition-property: top;
  	transition-duration: 0.5s;
 	 transition-delay: 0.1s;
	top:-350px;
	width:700px;
	margin-top:0px;

	position:fixed;
	z-index:1001;
	padding:20px;
	height:320;*/
}
.sidebar:hover{
/*  transition-property: top;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  top:20px;*/
}
.sidebar ul{
	list-style:none;
	padding:0px;
}

.sidebar ul li{

}

.sidebar .wrapper .design-selection{
	float: left;
	width: 50%;
}
.sidebar .wrapper .design-archives{
	float:left; 
	width:24%;
}
.sidebar .wrapper .zen-resources{
float:left;
width:24%;
}
.sidebar .wrapper div h3{
	margin-top:0px;
}
.explanation{
	margin-top:-50px;
}
.participation{
	margin-top:-30px;
}
.benefits{
	margin-top:-50px;
}
